{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-fluid custombg mt-5">
      <div class="container pt-5 pb-5">
        <h1 style="color:white">Welcome to the pets app</h1>
        <p class="fs-4 mb-0 text-white-50" style="color:white">Create your own pet and rate other pets</p>
      </div>
    </div>
{% endblock %}