{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
  <form action="/pets" method="POST">
    <fieldset>
      <legend style="color: white">Create New Pet</legend>
      <label class="form-label" style="color: white">Type:</label>
      <input 
          type="text" 
          class="form-control" 
          name="type"
          placeholder="What kind of pet is it?"
          required>
      <label class="form-label" style="color: white">Name:</label>
      <input 
          type="text" 
          class="form-control" 
          name="name"
          placeholder="What is the name of your pet?"
          required>
      <label class="form-label" style="color: white">Color:</label>
      <input 
          type="color" 
          class="form-control" 
          name="color"
          placeholder="What color is your pet?"
          required>
      <label class="form-label" style="color: white">Age:</label>
      <input 
          type="number" 
          class="form-control" 
          name="age"
          placeholder="How old is your pet?"
          required>
    </fieldset>
    <input type="submit" class="btn btn-success mt-3" value="Create Pet">
  </form>
</div>
{% endblock %}